body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  top:0;
  left:0;
  right:0;
  bottom:0; 
  font-family: system-ui;
}

body.onlineState .offline,
body.onlineState .loading,
body.offlineState .online,
body.offlineState .loading,
body.loadingState .offline,
body.loadingState .online {
  display: none;
}

.deviceStatus {
  text-align: center;
}

.deviceStatus .online span {
  color: green;
}
.deviceStatus .offline span {
  color: red;
}

.instructions {
  margin-top: 3rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.instructions .blinking-blue {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
  height: 1rem;
  width: 1rem;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

.instructions .breathing-cyan {
  opacity: 1;
  animation: breathe 4s linear infinite;
  -webkit-animation: breathe 4s linear infinite;
  height: 1rem;
  width: 1rem;
  background-color: cyan;
  border-radius: 50%;
  display: inline-block;
}
@keyframes breathe {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
@-webkit-keyframes breathe {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.loadingIndicator {
  text-align: center;
}

.loadingIndicator .spinner {
  margin-top: 2rem;
  font-size: 3rem;
}

.linkInstagram {
  margin-top: 4rem;
  width: 100%;
}

.linkInstagram button {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}
