body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  top:0;
  left:0;
  right:0;
  bottom:0; 
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

body.onlineState .offline,
body.onlineState .loading,
body.offlineState .online,
body.offlineState .loading,
body.loadingState .offline,
body.loadingState .online {
  display: none;
}

.deviceStatus {
  text-align: center;
}

.deviceStatus .online span {
  color: green;
}
.deviceStatus .offline span {
  color: red;
}

.instructions {
  margin-top: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.loadingIndicator {
  text-align: center;
}

.loadingIndicator .spinner {
  margin-top: 2rem;
  font-size: 3rem;
}

.linkInstagram {
  /* margin: auto; */
  margin-top: 4rem;
  padding-right: 8px;
  padding-bottom: 8px;
  width: 100%;
  background-color: black;
  border-radius: 8px;
}

.linkInstagram:active {
  padding: 0;
}

.linkInstagram button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: white;

    border: 1px solid black;
    border-radius: 8px;

    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    width: 100%;
}
