body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: system-ui;
}

body.onlineState .offline,
body.onlineState .loading,
body.offlineState .online,
body.offlineState .loading,
body.loadingState .offline,
body.loadingState .online {
  display: none;
}

.deviceStatus {
  text-align: center;
}

.deviceStatus .offline span {
  color: red;
}

.instructions {
  margin-top: 3rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.loadingIndicator {
  text-align: center;
  width: 100%;
}

.loadingIndicator .spinner {
  margin-top: 2rem;
  font-size: 3rem;
  width: 100%;
}

.control .btn {
  margin-bottom: 0.25rem;
}